<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="Description" content="Enter your description here" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
	<title>Chat page for {{ username }}</title>
</head>

<body>
	<h1 class="text-center">Welcome, {{ username }}</h1>
	<form method="POST">
		<div class="form-group text-center w-50 ml-auto mr-auto">
			<label for="message">Message</label>
			<textarea class="form-control" id="message" name="message" cols="50" rows="4"></textarea>
			<button type="submit" class="btn btn-primary mt-2">Submit</button>
		</div>
	</form>

	{% for message in chat_messages %}
	<p>({{ message.timestamp }} {{ message.from }}: {{ message.message }})</p>
	{% endfor %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		let textbox = document.getElementById("message")
		let timer = setTimeout(function() {
            location.reload()
        }, 5000)
        textbox.onkeydown = function(e) {
            clearTimeout(timer)
            timer = setTimeout(function() {
                location.reload()
            }, 5000)
        }
	</script>
</body>

</html>